.header .site_title_container .site_title a {
  width: 230px;
}

.markdown strong, .markdown b, .markdown em {
  background-color: #fff;
}

.markdown strong, .markdown b {
  font-weight: bold;
}

.post .post_content a {
  color: #2b88e4;
}

.post .post_content a:hover {
  color: #295992;
}

/* .post .post_content p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
} */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float-left {
  float: left;
}

/** moshimo */
.post .post_content .easyLink-info a {
  letter-spacing: normal;
}

/** sns */
.sns_parent {
  text-align: left;
  margin: 10px 0px;
}

.sns_section {
  display: inline-block;
  text-align: left;
}
.sns_button {
  float: left;
  border: solid 1px lightgray;
  border-radius: 3px;
}
.sns_button a {
  display: table-cell;
  width: 44px;
  height: 44px;
  color: #42464c;
  text-align: center;
  vertical-align: middle;
  -moz-transition: all 280ms ease;
  -o-transition: all 280ms ease;
  -webkit-transition: all 280ms ease;
  transition: all 280ms ease;
}
.sns_button i {
  font-size: 20px;
  vertical-align: middle;
}
.sns_button:hover {
  box-shadow: inset 0 0 0 22px #eaeaea;
}

.sns_button + .sns_button {
  margin: 0 0 0 12px;
}

.twitter:hover a {
  color: #1B95E0;
}

.facebook:hover a {
  color: #3B5999;
}

.google:hover a {
  color: #dd4b39;
}

.instagram:hover a {
  color: #2b5c84;
}

.pocket:hover a {
  color: #EE4056;
}

.hatena:hover a {
  color: #4BA3D9;
}

.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold
}

/** 格活 */
#TableOfContents {
  margin-bottom: 30px;
}
#TableOfContents > ul {
  font-size: smaller;
  border: solid 1px #dfe2e5;
  padding: 0.5em 1em;
  line-height: 2;
}
#TableOfContents > ul:before {
  content: "格活";
  font-weight: bolder;
}
#TableOfContents ul {
  list-style-type: none;
}
#TableOfContents li {
  padding-top: 0;
}
#TableOfContents li > ul {
  padding-left: 1em;
  width: 100%;
}
#TableOfContents a {
  font-weight: normal;
  display: block;
  border-bottom: dashed 1px lightgray;
}
