.header .site_title_container .site_title a {
  width: 230px;
}

.markdown em {
  background-color: #fff;
}

.markdown strong, .markdown b {
  font-weight: bold;
}

ul.focus {
  padding: 10px 20px;
  background-color: #f6f8fa;
  list-style-position: inside;
}

.post .post_content a {
  color: #2b88e4;
}

.post .post_content a:hover {
  color: #295992;
}

.markdown h2 {
    font-size: 1.35em;
    margin-top: 30px;
    margin-bottom: 20px;
}

.markdown h3 {
    font-size: 1.15em;
    margin-top: 30px;
    margin-bottom: 20px;
}

.markdown h3 .fa,
.markdown h4 .fa {
  margin-right: 5px;
  color: #20B2AA;
}

/* .post .post_content p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
} */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float-left {
  float: left;
}

.text-center {
  text-align: center;
}

.width-100 {
  width: 100%;
}

.width-33 {
  width: 33.333333%;
}

/** moshimo */
.post .post_content .easyLink-info a {
  letter-spacing: normal;
}

/** sns */
.sns_parent {
  text-align: left;
  margin: 10px 0px;
}

.sns_section {
  display: inline-block;
  text-align: left;
}
.sns_button {
  float: left;
  border: solid 1px lightgray;
  border-radius: 3px;
}
.sns_button a {
  display: table-cell;
  width: 44px;
  height: 44px;
  color: #42464c;
  text-align: center;
  vertical-align: middle;
  -moz-transition: all 280ms ease;
  -o-transition: all 280ms ease;
  -webkit-transition: all 280ms ease;
  transition: all 280ms ease;
}
.sns_button i {
  font-size: 20px;
  vertical-align: middle;
}
.sns_button:hover {
  box-shadow: inset 0 0 0 22px #eaeaea;
}

.sns_button + .sns_button {
  margin: 0 0 0 12px;
}

.twitter:hover a {
  color: #1B95E0;
}

.facebook:hover a {
  color: #3B5999;
}

.google:hover a {
  color: #dd4b39;
}

.instagram:hover a {
  color: #2b5c84;
}

.pocket:hover a {
  color: #EE4056;
}

.hatena:hover a {
  color: #4BA3D9;
}

.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold
}

/** 内部リンク */
.box .media {
  display: block;
  border: solid 1px #dfe2e5;
  padding: 0.5em 1em;
}

.box .media:hover {
  background-color: #f3f3f3;
}

.box .media .media-left {
  float: left;
}

.box .media figure {
  margin: 0;
  width: 25%;
}

.box .media figure .image {
  max-width: 100%;
  width: 100%;
  min-height: 170px;
  background-size: cover;
  background-position: center center;
}

.box .media .media-content {
  float: left;
  width: 75%;
  padding-left: 20px;
}

.box .media .media-content .title {
  margin-bottom: 5px;
}

.box .media .media-content .title .bold {
  font-weight: bold;
  font-size: 18px;
}

.box .media .media-content .description {
  color: #333333;
  font-size: 14px;
}

@media screen and (max-width:480px) {
  table {
    font-size: 13px;
    line-height: 18px;
  }
  table th, table td {
    padding: 5px 10px;
  }
  .box .media figure {
    width: 100%;
  }
  .box .media .media-content {
    width: 100%;
    padding-left: 0px;
    margin-top: 10px;
  }
  table.rakuten td {
    display: block;
    width: 100%;
  }
}
table.rakuten th, table.rakuten td {
  padding: 0px;
  border: none;
}
table.rakuten div.rakuten-div {
  width: 100% !important;
}

.small {
  font-size: 0.8em;
}

/** 目次 */
#TableOfContents {
  margin-bottom: 30px;
}
#TableOfContents .fa {
  display: none;
}
#TableOfContents > ul {
  font-size: smaller;
  border: solid 1px #dfe2e5;
  padding: 0.5em 1em;
  line-height: 2;
}
#TableOfContents > ul:before {
  content: "目次";
  font-weight: bolder;
}
#TableOfContents ul {
  list-style-type: none;
}
#TableOfContents li {
  padding-top: 0;
}
#TableOfContents li > ul {
  padding-left: 1em;
  width: 100%;
}
#TableOfContents a {
  font-weight: normal;
  display: block;
  border-bottom: dashed 1px lightgray;
}

blockquote {
  font-size: 0.8em;
  padding-bottom: 0;
}
blockquote a.author {
  font-size: 1em;
  line-height: 2em;
  font-style: normal;
  text-decoration: none;
  border-bottom: 1px dashed;
}

.summary {
  border: dashed 1px #2b88e4;
  padding-top: 15px;
  padding-bottom: 15px;
}
